{% extends 'main/dad.html' %}
{% block body %}
<div class="all_content">

    <!-- Фільтри товарів -->
    {% if products %}
    <div class="product-filters">
        <h3 class="filters-title">Фільтри товарів:</h3>
        <div class="filters-container">
            <label class="filter-checkbox">
                <input type="checkbox" id="filter-for-dad" class="filter-input">
                <span class="filter-label">Для тата</span>
            </label>
            <label class="filter-checkbox">
                <input type="checkbox" id="filter-for-mom" class="filter-input">
                <span class="filter-label">Для мами</span>
            </label>
        </div>
        <h3 class="filters-title">категорії:</h3>
        <div class="filters-container">
            {% for category in categories %}
                <label class="filter-checkbox">
                    <a href="{% url 'category_detail' category.id %}" class = 'filters-a-link'>{{category.name}}</a>
                </label>
            {% endfor %}
        </div>
    </div>
    {% endif %}
   
<div class="content">
    {% if subcategories %}
        {% for sub in subcategories %}
            {% if sub.id %}
                <a href="{% url 'category_detail' sub.id %}" class="content_item">
                    {% if  category.image  %}
                    <img class="content_img" src="{{ sub.image.url }}" alt="{{ sub.name }}">
                    {%endif%}
                    <div class="overlay_text">{{ sub.name }}</div>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if products %}
        {% for product in products %}
            {% if product.id %}
                    <a href="{% url 'product_detail' category.id product.id%}" 
                       class="content_item product-item"
                       data-for-dad="{% if product.for_dad %}true{% else %}false{% endif %}"
                       data-for-mom="{% if product.for_mom %}true{% else %}false{% endif %}"
                       data-is-available="{% if product.is_available %}true{% else %}false{% endif %}">
                        {% if category.image  %}
                            <img class="content_img" src="{{ product.image.url|default:'/static/images/default.png' }}" alt="{{ product.name }}">
                        {%endif%}
                        <div class="overlay_text">{{ product.name }}</div>
                        
                    </a>
            {% endif %}
        {% endfor %}
    {% endif %}
    
</div>
</div>
{% if products.has_other_pages %}
<div class="pagination">
    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}" class="page-btn">←</a>
    {% endif %}

    {% for num in products.paginator.page_range %}
        {% if products.number == num %}
            <span class="page-btn-active">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}" class="page-btn">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}" class="page-btn">→</a>
    {% endif %}

</div>
{% endif %}



{% endblock %}

